.header{
  background-color: brown;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 5px;
}

.btn{
  width: fit-content;
  background-color: orange;
  padding: 10px 20px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  outline: none;
  border: 2px solid white;
}